.section_page {
  display: flex;
  flex-flow: column;
  position: relative;
  text-align: center;
  top: 49px;
  padding: 24px;
}
.first_section {
  display: flex;
  flex-flow: column;
}
.presentation {
  display: flex;
  flex-flow: column;
  text-align: left;
}
.presentation > p {
  font-size: 12px;
  font-family: var(--font-jetbrains-mono);
  color: var(--primary);
}
.presentation > h1 {
  margin: 12px 0;
  font-size: 48px;
  color: var(--foreground);
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -0.05em;
}
.presentation > h1 > span {
  font-size: 24px;
  font-family: var(--font-playfair-display);
  color: var(--secondary);
  font-weight: 600;
  font-style: italic;
}
.presentation > h2 {
  font-size: 18px;
  color: var(--muted-foreground);
  font-weight: 400;
  line-height: 1.625;
}
.presentation a:nth-of-type(1) {
  margin: 10px 0;
  background-color: black;
  color: #fff;
  min-width: max-content;
  max-width: max-content;
  min-height: 44px;
  max-height: 44px;
  padding: 0 16px;
  border-radius: 44px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.presentation a:nth-of-type(2) {
  margin: 0 0 10px;
  background-color: white;
  color: black;
  min-width: max-content;
  max-width: max-content;
  min-height: 44px;
  max-height: 44px;
  padding: 0 16px;
  border-radius: 44px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.people {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 35px 0;
}
.people > figure {
  border-radius: calc(0.625rem + 8px);
  min-width: 128px;
  max-width: 128px;
  min-height: 128px;
  max-height: 128px;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 8px;
}
.people > figure > img {
  border-radius: calc(0.625rem + 8px);
  min-width: 128px;
  max-width: 128px;
  min-height: 128px;
  max-height: 128px;
  margin: auto;
  object-fit: cover;
  transform: scale(1.4);
}
.people > div {
  display: flex;
  flex-flow: column;
  text-align: left;
}
.people > div > span {
  font-family: var(--font-jetbrains-mono);
  color: #838fa8;
  font-size: 10px;
  text-transform: uppercase;
}
.people > div > span {
  margin: 10px 0 0;
}
.people > div > p {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.second_section {
  display: flex;
  flex-flow: column;
  text-align: left;
  margin: 20px 0;
}
.second_section > h2 {
  font-family: var(--font-jetbrains-mono);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  color: #838fa8;
  margin-bottom: 20px;
}
.stacks {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px;
}
.stack {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  gap: 10px;
}
.stack svg {
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
  padding: 8px;
  color: var(--primary);
  border-radius: 8px;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.stack span {
  font-size: 14px;
  font-family: var(--font-inter);
}
.stack div {
  min-width: 6px;
  max-width: 6px;
  min-height: 6px;
  max-height: 6px;
  border-radius: 6px;
  background-color: var(--primary);
  margin-left: auto;
}
.stack:nth-of-type(4n + 3) svg,
.stack:nth-of-type(4n + 4) svg {
  background-color: color-mix(in oklab, var(--secondary) 10%, transparent);
  color: var(--secondary);
}
.stack:nth-of-type(4n + 3) div,
.stack:nth-of-type(4n + 4) div {
  background-color: var(--secondary);
}

.third_section {
  display: flex;
  flex-flow: column;
  text-align: left;
  margin: 20px 0;
}
.third_section > h2 {
  font-family: var(--font-jetbrains-mono);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  color: #838fa8;
  margin-bottom: 20px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 32px;
}
.project {
  display: flex;
  flex-flow: column;
  border: solid 1px #e7ebf1;
  padding: 16px;
  border-radius: 16px;
}
.project figure {
  border: solid 1px #f5f5f5;
  overflow: hidden;
  min-width: calc(100dvw - 80px);
  max-width: calc(100dvw - 80px);
  min-height: 245px;
  max-height: 245px;
  border-radius: 16px;
  display: flex;
}
.project figure img {
  object-fit: contain;
  margin: 0 auto;
  border-radius: 16px;
}
.project h4 {
  font-size: 24px;
  color: black;
  margin: 15px 0;
}
.project p {
  font-size: 14px;
  color: #838fa8;
}
.project div {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
.project div span {
  background-color: color-mix(in oklab, var(--secondary) 10%, transparent);
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  color: var(--secondary);
}
.project div span:nth-of-type(2n) {
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
  color: var(--primary);
}

.fourth_section {
  display: flex;
  flex-flow: column;
  text-align: left;
  margin: 20px 0;
}
.fourth_section > h2 {
  font-family: var(--font-jetbrains-mono);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  color: #838fa8;
  margin-bottom: 20px;
}
.experiences {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 16px;
}
.experience {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
}
.experience h3 {
  font-size: 16px;
  color: black;
}
.experience span {
  font-size: 12px;
  color: #838fa8;
  font-family: var(--font-jetbrains-mono);
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px;
}
.experience span svg {
  min-width: 12px;
  max-width: 12px;
  min-height: 12px;
  max-height: 12px;
}
.experience p {
  font-size: 14px;
  color: #838fa8;
  margin-top: 10px;
}

.fifth_section {
  display: flex;
  flex-flow: column;
  text-align: left;
  margin-top: 25px;
}
.fifth_section h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: calc(2.5 / 2.25);
  letter-spacing: -0.05em;
}
.fifth_section h2 span {
  color: var(--primary);
}
.fifth_section p {
  font-size: 16px;
  color: #838fa8;
  margin: 10px 0;
}
.fifth_section a {
  min-width: max-content;
  max-width: max-content;
  min-height: 44px;
  max-height: 44px;
  padding: 0 15px;
  background-color: black;
  border-radius: 44px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.fifth_section button svg {
  min-width: 18px;
  max-width: 18px;
}

@media (min-width: 768px) {
  .section_page {
    gap: 80px;
  }
  .first_section {
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1100px;
    flex-flow: row;
  }
  .presentation {
    max-width: 580px;
    min-width: 580px;
  }
  .presentation h1 {
    font-size: 62px;
  }
  .presentation h2 {
    max-width: 380px;
  }
  .presentation div {
    display: flex;
    flex-flow: row;
    gap: 16px;
    align-items: center;
  }
  .presentation div a:nth-of-type(2) {
    margin: auto 0;
  }
  .people figure {
    min-width: 160px;
    min-height: 160px;
  }

  .second_section {
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1100px;
  }
  .stacks {
    grid-template-columns: repeat(4, auto);
  }
  .stack {
    min-height: 71px;
    max-height: 71px;
  }

  .third_section {
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1100px;
  }
  .projects {
    max-width: 100%;
    /* border: solid 1px red; */
    grid-template-columns: repeat(2, auto);
  }
  .project {
    max-width: 500px;
  }
  .project figure,
  .project figure img {
    min-width: 500px;
    max-width: 500px;
    min-height: 350px;
    max-height: 350px;
  }
  .project figure img {
    object-fit: contain;
  }

  .fourth_section {
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1100px;
  }
  .experience {
    flex-flow: row;
    /* align-items: center; */
  }
  .experience div {
    display: flex;
    flex-flow: column;
    margin-right: 120px;
  }

  .fifth_section {
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1100px;
    flex-flow: row;
    justify-content: space-between;
  }
  .fifth_section p {
    max-width: 450px;
  }
}
